<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg modal-btn" data-toggle="modal" data-target="#myModal" style="display: none;">
  <!--Launch demo modal-->
</button>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h4 class="modal-title" id="myModalLabel">Today's Client Birthday</h4>
      </div>
      <div class="modal-body">
        <table>
          <% if session[:reminder].present? and !session[:reminder].blank? %>
              <tr>
                <th style="width: 200px; text-align: center;">Name</th>
                <th style="width: 200px; text-align: center;">Mobile</th>
                <th style="width: 200px; text-align: center;">Email</th>
              </tr>

              <% session[:reminder].each do |client| %>
                  <tr>
                    <td style="width: 200px; text-align: center;"><%= client.name %></td>
                    <td style="width: 200px; text-align: center;"><%= client.mobile %></td>
                    <td style="width: 200px; text-align: center;"><%= client.email %></td>
                  </tr>
              <% end %>
          <% else %>
              <tr>
                No reminder for Client's Birthday
              </tr>
          <% end %>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close Reminder</button>
      </div>
    </div>
  </div>
</div>